<div class="container-show">
  <div class="grid-show">

    <div class="grid-item-show">
      <div class="card-show">
        <div class="card-content-show">
          <h1 class="card-head-show"> <%= @plant.name %> </h1>
          <p class="card-text-show"> <%= @plant.description %> </p>

          <img class="card-img-show" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606176917/find-your-plants/plant-1_t4zlk1.png">
          <div class="badge-show">
            <span class="badge badge-pill badge-1">Awesome</span>
            <span class="badge badge-pill badge-2">Cool Plant</span>
            <span class="badge badge-pill badge-3">Nice Defender</span>
          </div>
          <hr class="hr-1">
          <div class="price-show-grid">
            <input class="form-control numeric integer optional" type="number" step="1" name="plant[quantity]" id="plant-quantity-show">
            <h2>Price $20.00</h2>
          </div>
          <hr class="hr-2">
          <a href="#" class="card-btn-show">Buy This Plant  <i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>

    <div class="grid-item-show">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="container-show">
  <div class="review-show">
    <h3>Reviews</h3>
      <% if @plant.reviews.empty? %>
        <p>Be the first to let a review</p>
      <% else %>
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <%= simple_form_for @review do |f| %>
                <%= f.input :content %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
                <%= f.submit "Send your review" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

     <%= render "reviews/new", plant: @plant, review: @review %>

    </div>
</div>

<%= render 'shared/footer' %>

